html.dark {
  --el-color-primary: #99173e;
  --el-color-primary-light-3: #ca3862;
  --el-color-primary-light-5: #951158;
  --el-color-primary-light-7: #5b212f;
  --el-color-primary-light-8: #431d2a;
  --el-color-primary-light-9: #2c1820;
  --el-color-primary-dark-2: #ff66a1;
  --el-bg-color-page: rgb(37, 38, 50);
  --el-overlay-color-lighter: rgba(0, 0, 0, 0.8); //弹窗遮罩层
  --el-text-color-disabled: rgba(108, 110, 114, 0.3); // el-avatar
  --el-fill-color-blank: #3c3d3f54;

  --niuyin-text-color: #fff;
  --niuyin-bg-color: #000000;
  --niuyin-bg-color5: rgba(0, 0, 0, 0.5);
  --niuyin-bg-color3: rgba(0, 0, 0, 0.3);
  --niuyin-bg-color2: rgba(0, 0, 0, 0.2);
  --niuyin-primary-color: rgb(210, 27, 70);
  --niuyin-primary-color-hover: rgb(230, 47, 90);
  --niuyin-upload-bg: #3c3d3f54;
  --niuyin-custom-bg: rgba(26, 26, 55, 0.8);
  --niuyin-custom-bg5: rgba(26, 26, 55, 0.5);
  --niuyin-online-color: #78ce27;

}

:root {
  --niuyin-text-color: #000;
  --niuyin-bg-color: #ffffff;
  --niuyin-bg-color5: rgba(255, 255, 255, 0.5);
  --niuyin-bg-color3: rgba(255, 255, 255, 0.3);
  --niuyin-bg-color2: rgba(255, 255, 255, 0.2);
  --niuyin-primary-color: rgb(17, 72, 210);
  --niuyin-primary-color-hover: rgb(37, 92, 230);
  --niuyin-upload-bg: #2e32380d;
  --niuyin-custom-bg: rgba(242, 242, 243, 0.8);
  --niuyin-custom-bg5: rgba(242, 242, 243, 0.5);
  --niuyin-online-color: #78ce27;
  --niuyin-input-bg: #2e32380d;

  --el-color-info: #e2e3e3; /*按钮背景色*/
  --el-input-bg-color: rgb(242, 242, 243);
  --el-fill-color-blank: rgb(242, 242, 243); /*输入框*/
  --el-loading-spinner-size: 100px; /*加载图标大小*/
  --el-fill-color: rgba(240, 242, 245, 0.8); /*加载中图片背景色*/
  --el-fill-color-darker: rgba(230, 232, 235, 0.6);
  --el-messagebox-border-radius: 16px; /*弹框radius*/
  --el-border-radius-small: 16px;
  --el-border-radius-base: 8px; /*输入框圆角*/
  ---primary-red-color: rgb(210, 27, 70);
  ---primary-blue-color: rgb(17, 72, 210);
  --el-overlay-color-lighter: rgba(0, 0, 0, 0.5); //弹窗遮罩层
  /* 背景色 */
  --theme-light-bg-color: #ffffff;
  --theme-dark-bg-color: #000000;
  /* 按钮颜色 */
  --theme-light-button-color: var(---primary-red-color);
  --theme-dark-button-color: var(---primary-blue-color);
  --el-text-color-disabled: rgba(192, 196, 204, 0.3); // el-avatar
}


/*空状态颜色填充*/
.el-empty {
  --el-empty-fill-color-0: #f4f3f3;
  --el-empty-fill-color-1: #7294d8;
  --el-empty-fill-color-2: #bec8dc;
  --el-empty-fill-color-3: #757d9f;
  --el-empty-fill-color-4: #8e9dd9;
  --el-empty-fill-color-5: #e5d3db;
  --el-empty-fill-color-6: #98a1b2;
  --el-empty-fill-color-7: #d1b8be;
  --el-empty-fill-color-8: #a4b3d2;
  --el-empty-fill-color-9: #7280b1;
}

.el-checkbox__inner {
  border-radius: 4px;
}

.el-popover {
  --el-popover-padding: 0;
}

.el-tabs {
  --el-tabs-header-height: 40px;
}

.el-card {
  --el-card-padding: 0;
  --el-card-bg-color: rgba(242, 242, 243, 1)
}

.el-card__body {
  height: 100%;
  width: 100%;
}

.el-popper.is-customized {
  /* Set padding to ensure the height is 32px */
  padding: 6px 12px;
  background: linear-gradient(45deg, rgba(206, 27, 71, 0.3), rgba(45, 79, 225, 0.3), rgba(206, 27, 71, 0.3), rgba(45, 79, 225, 0.3));
}

.el-popper.is-customized .el-popper__arrow::before {
  background: linear-gradient(45deg, rgba(41, 73, 246, 0.5), rgba(133, 149, 246, 0.5));
  right: 0;
}

/*popover*/
.el-popover {
  --el-popover-border-radius: 16px;
}

.el-popconfirm {
  padding: 10px;
}

.el-tabs__header {
  position: sticky;
  top: -2px;
  z-index: 100;
  margin-bottom: 10px;
  background: var(--niuyin-bg-color);

  .el-tabs__header {
    z-index: 99;
  }
}

.channel-container .el-tabs__header {
  position: sticky;
  top: 0;
  border-radius: 6px;
}

/*按钮*/
.el-button.is-text {
  //background-color: rgba(242 242 242,1);
}

/*抽屉*/
.el-drawer {
  --el-drawer-padding-primary: var(--el-dialog-padding-primary, 10px);
}

.el-drawer__header {
  margin-bottom: 0;
}

.el-drawer__body {
}

@media (max-width: 500px) {
  .channel-container .el-avatar {
    --el-avatar-size: 24px;
  }
}

.cover-image {

  .el-image__inner {
    object-fit: cover;
  }
}

.video-cover {
  .el-image__inner {
    object-fit: cover;
  }
}

//.video-page-container {
//  .el-image__inner {
//    object-fit: cover;
//  }
//}

.eli-ofc {
  .el-image__inner {
    object-fit: cover;
  }
}

.el-tabs__nav-wrap::after {
  height: 4px;
  width: auto;
  border-radius: 2px;
}

.el-tabs__active-bar {
  height: 4px;
  border-radius: 2px;
}

/*输入框提示文字颜色*/
.el-input__count-inner {
  color: var(--niuyin-text-color);
}

/*消息弹框圆角*/
.el-message-box {
  --el-messagebox-border-radius: 16px;
}

.el-header {
  padding: 0;
}

.el-button--primary {
  background-color: var(--niuyin-primary-color);
  border-color: var(--niuyin-primary-color);
}

.el-button--primary:focus, .el-button--primary:hover {
  background-color: var(--niuyin-primary-color-hover);
  border-color: var(--niuyin-primary-color-hover);
}

.el-divider--horizontal {
  margin: 16px 0;
}

.el-button {
  border-radius: 8px;
}

.el-card {
  border-radius: 8px;
}

.el-card.is-always-shadow, .el-card.is-hover-shadow:focus, .el-card.is-hover-shadow:hover {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .1);
}

.el-menu {
  background-color: transparent !important;
  border-right: none !important;
}

.el-menu .el-submenu__title {
  font-weight: 600;
}

.el-submenu__title:hover {
  font-weight: 900;
  background-color: transparent !important;
}

.el-menu-item.is-active {
  color: var(--niuyin-primary-color-hover);
  font-weight: 900;
  font-size: 15px;
}

.el-menu-item:focus, .el-menu-item:hover {
  font-weight: 900;
  font-size: 15px;
  transition: all .5s ease;
  background-color: transparent !important;
  color: var(--niuyin-primary-color-hover);
}

.el-button {
  padding: 8px 16px !important;
}

.el-carousel {
  border-radius: 0.5rem;
}

.el-carousel__indicators--horizontal {
  text-align: center;
}

.el-input__inner {
  border-radius: var(--el-border-radius-base);
  background-color: var(--niuyin-input-bg);
}

.el-textarea__inner {
  border-radius: var(--el-border-radius-base);
  background-color: var(--niuyin-input-bg);
}

.el-radio-button__inner {
  background-color: var(--niuyin-input-bg);
}

.el-radio-button:first-child .el-radio-button__inner {
  border-radius: 8px 0 0 8px;
}

.el-radio-button:last-child .el-radio-button__inner {
  border-radius: 0 8px 8px 0;
}

.el-upload-dragger {
  background-color: var(--niuyin-input-bg);
  border: 1px dashed #bebdbd;
  border-radius: 12px;
  width: 100%;
}

.el-calendar__title {
  font-size: 0.8rem;
}

.el-calendar-table .el-calendar-day {
  height: fit-content;
}

.el-calendar__header {
  padding: 8px 16px;
}

.el-calendar__body {
  padding: 8px 8px 16px;
}

.el-tabs__header {
  top: 0;
}

.el-pagination {
  padding: 1rem 0;
}

.el-tag {
  height: 28px;
  line-height: 28px;
  border-radius: 8px;
}

.el-textarea .el-input__count, .el-input .el-input__count .el-input__count-inner {
  background-color: transparent;
}

.el-avatar > img {
  width: 100%;
  height: 100%;
}

.el-form-item {
  margin-bottom: 16px;
}

.el-switch__core:after {
  top: 1.5px;
}
