.hot-container {
  border-radius: 1rem;
  padding-right: 1rem;
}

.loading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .loading-item {
    width: 20%;
    padding: 0 0.5rem 1rem;
  }
}

.hotVideo-list {
}

.hotVideo-item {
  width: 20%;
  padding: 0 8px;
  margin-bottom: 10px;

  .hotVideo-card {
    display: flex;
    border-radius: 1rem;
    overflow: hidden;

    .user-info {
      height: 20%;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }


}

@media (max-width: 1320px) {
  .hotVideo-list .hotVideos .hotVideo-item {

  }
}


@media (max-width: 1208px) {
  .hotVideo-list .hotVideos .hotVideo-item {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .hotVideo-list .hotVideos .hotVideo-item {
    width: 50%;
  }
}


//.hotVideo-list {
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: space-between;
//
//  .hotVideos {
//    display: flex;
//    flex-flow: row wrap;
//    justify-content: space-between;
//
//    .hotVideo-item {
//      background-color: rgba(242, 242, 243, 0.8);
//      width: 19%;
//      border-radius: 1rem;
//      height: 400px;
//      box-shadow: rgba(0, 0, 0, 0.13) 0 2px 3px 0, rgba(0, 0, 0, 0.11) 0 1px 1px 0;
//      margin-bottom: 1.2rem;
//
//      .video-cover {
//        height: 80%;
//        border-radius: 1rem;
//        text-align: center
//      }
//
//      .user-info {
//        height: 20%;
//        padding: 10px;
//        display: flex;
//        justify-content: space-between;
//        align-items: center;
//      }
//    }
//  }
//}

