$light-bg-image: "@/assets/background/theme-light.jpg";
$dark-bg-image: "@/assets/background/theme-dark.jpg";

.niuyin {
  background-image: url($light-bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
