@use "sass:list";
@use "sass:math";

$W: 1000;
$H: 1920;
$picW: 500;
$picH: 560;
$formW: 320;
$tabW: math.div($formW, 2);
$rowH: 56;
$buttonH: 50;

$containerBgColor: #e0e4eb;
$containerBgImage: "@/assets/images/index-bg.png";

$logoWidth: 600px;
$logoHeight: 100px;
$logoImage: "@/assets/logo/logo-niuyin.png";

$contentWidth: round(math.div($W , $H) * 100) * 1vw;
$contentHeight: math.div( round(math.div($picH , $W) * 100) , 100) * $contentWidth;
$contentBgColor: #ffffff;

$picWidth: round(math.div($picW , $H )* 100) * 1vw;
$picHeight: inherit;
$picImage: "@/assets/images/login.png";

$fieldWidth: $contentWidth - $picWidth;
$fieldHeight: inherit;

$formWidth: $formW * 1px;
$tabWidth: $tabW * 1px;
$rowHeight: $rowH * 1px;
$buttonHeight: $buttonH * 1px;

.container {
  .login-code {
    width: 33%;
    height: 38px;
    float: right;

    img {
      cursor: pointer;
      width: 100%;
      max-width: 100px;
      height: auto;
      vertical-align: middle;
    }
  }

  width: inherit;
  height: inherit;
  min-width: 1080px;
  min-height: 620px;
  background-color: $containerBgColor;
  background-image: url("@/assets/images/index-bg.png");
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;

  .logo {
    width: $logoWidth;
    height: $logoHeight;
    background-image: url("@/assets/logo/logo-niuyin.png");
    background-size: contain;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: math.div(-$logoWidth, 2);
  }

  .content {
    width: $contentWidth;
    height: $contentHeight;
    background-color: #ffffff;
    box-shadow: 0 20px 40px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    position: relative;

    .pic {
      width: $picWidth;
      height: $picHeight;
      background-image: url("@/assets/images/login.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 2rem 0 0 2rem;
      position: absolute;
      top: 0;
      left: 0;
    }

    .field {
      width: $fieldWidth;
      height: $fieldHeight;
      position: absolute;
      top: 0;
      left: $picWidth;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;

      .pc-title {
        width: 100%;
        clear: both;
      }

      .mobile-title,
      .mobile-switch {
        height: fit-content;
      }

      .form {
        box-sizing: border-box;
        width: $formWidth;

        :deep(.el-tabs__content) {
          padding: 20px 0 0;
        }

        :deep(.el-tabs__item) {
          width: $tabWidth;
          height: $rowHeight;
          padding: 0;
          line-height: $rowHeight;
          color: #666666;
        }

        :deep(.el-tabs__item.is-active) {
          font-weight: bold;
          color: #2f53eb;
        }

        :deep(.el-tabs__active-bar) {
          height: 3px;
          border-radius: 2px;
        }

        :deep(.el-input__inner) {
          width: 100%;
          height: $rowHeight;
          background: #f5f5f5;
          border: 0;
          border-radius: 28px;
          text-align: center;
          line-height: 19px;
          color: #262626;
        }

        .code:deep(.el-input__inner) {
          padding: 0 24px;
          text-align: left;
        }

        :deep(.el-input__inner::-webkit-input-placeholder) {
          font-weight: 400;
          color: #8c8c8c;
        }

        :deep(.el-input__inner:-moz-placeholder) {
          font-weight: 400;
          color: #8c8c8c;
        }

        :deep(.el-input__inner::-moz-placeholder) {
          font-weight: 400;
          color: #8c8c8c;
          opacity: 1;
        }

        :deep(.el-input__inner:-ms-input-placeholder) {
          font-weight: 400;
          color: #8c8c8c !important;
        }

        :deep(.el-form-item) {
          position: relative;

          .button-code {
            height: $rowHeight;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            right: 20px;
            z-index: 1;
            line-height: 20px;
            font-size: 14px;
            font-weight: 400;
            color: #2f53eb;

            span {
              padding-left: 15px;
              border-left: 2px solid #d9d9d9;
            }
          }
        }

        :deep(.el-form-item__error) {
          padding-left: 24px;
        }

        .button {
          width: 100%;
          height: $buttonHeight;
          background: rgba(24, 144, 255, 0.2);
          border: 0;
          border-radius: 24px;
          margin-bottom: 20px;
          line-height: 26px;
          font-size: 20px;
          color: #ffffff;
        }

        .button-active {
          background: #2f53eb;
          box-shadow: 0 2px 8px rgba(0, 80, 184, 0.2);
        }
      }
    }
  }

  .footer {
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #8c8c8c;
    position: absolute;
    bottom: 30px;

    a,
    a:hover,
    a:active {
      color: inherit;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 599px) and (max-width: 1366px) {
  .container {
    .content {
      width: 710px;
      height: 397px;

      .pic {
        width: 314px;
      }

      .field {
        width: calc(710px - 314px);
        left: 314px;

        .form {
          width: 320px;

          :deep(.el-input__inner) {
            width: 320px;
            height: 56px;
          }

          .button {
            height: 50px;
          }
        }
      }
    }
  }
}

$mobileW: 375;
$mobileH: 812;
$mobileContentW: 327;
$mobileContentH: 376;
$mobileFormW: 280;
$mobileRowH: 48;
$mobileButtonH: 48;

$mobileContainerBgImage: "@/assets/images/bg-mobile.png";
$mobileContentWidth: round(math.div($mobileContentW , $mobileW)* 100) * 1vw;
$mobileContentHeight: math.div(round(math.div($mobileContentH , $mobileW) * 100),  100) * $mobileContentWidth;
$mobileFormWidth: round(math.div($mobileFormW , $mobileW) * 100) * 1vw;
$mobileRowHeight: $mobileRowH * 1px;
$mobileButtonHeight: $mobileButtonH * 1px;
$iconBgImage: "@/assets/images/icon.png";

@media screen and (max-width: 599px) {
  .container {
    background-image: url("@/assets/images/bg-mobile.png");
    min-width: 280px;
    min-height: 568px;
    font-size: 16px;
    font-weight: bold;

    .content {
      width: $mobileContentWidth;
      height: $mobileContentHeight;
      min-width: 250px;
      min-height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;

      .pic {
        display: none;
      }

      .field {
        width: inherit;
        min-height: inherit;
        left: 0;
        display: flex;
        flex-direction: column;

        .mobile-title {
          margin: 0 0 20px;
          display: block;
        }

        .form {
          width: $mobileFormWidth;

          :deep(.el-tabs__header) {
            display: none;
          }

          :deep(.el-tabs__content) {
            padding: 0;
          }

          :deep(.el-input__inner) {
            height: $mobileRowHeight;
            line-height: 24px;
            text-align: center;
            color: #262626;
          }

          :deep(.el-form-item) {
            .button-code {
              height: $mobileRowHeight;
            }
          }

          .button {
            height: $mobileButtonHeight;
            line-height: 24px;
            color: #ffffff;
          }
        }

        .mobile-switch {
          display: block;
          line-height: 20px;
          font-size: 14px;
          font-weight: 400;
          color: #595959;
          margin: 0;

          .icon {
            width: 16px;
            height: 16px;
            display: inline-block;
            background-size: cover;
          }
        }

        .mobile-switch:hover {
          cursor: pointer;
        }
      }
    }

    .footer {
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      color: #686868;
      opacity: 0.8;
      position: absolute;
      bottom: 20px;
    }
  }
}
