
html {
  height: 100%;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

.video-card-transition {
  //background-color: rgba(242, 242, 243, 1);
  box-shadow: 0 0 1px 0 grey;
}

a {
  text-decoration: none
}

.c211 {
  color: #d3d3d3;
}

.bgc211 {
  background-color: #d3d3d3;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.w100p {
  width: 100px;
}

.cbx {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1.6px 3.6px 0, rgba(0, 0, 0, 0.11) 0 0.3px 0.9px 0;
}

.mr-5r {
  margin-right: 0.5rem;
}

.ml-5r {
  margin-left: 0.5rem;
}

.icon-30 {
  width: 30px;
  height: 30px;
}

.icon-36 {
  width: 36px;
  height: 36px;
}

.cw {
  color: white;
}

.cg {
  color: grey;
}

.cl-gold {
  color: gold;
}

.cb {
  color: black;
}

.cr {
  color: red;
}

.fs5 {
  font-size: 0.5rem;
}

.fs6 {
  font-size: 0.6rem;
}

.fs7 {
  font-size: 0.7rem;
}

.fs8 {
  font-size: 0.8rem;
}

.fs9 {
  font-size: 0.9rem;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.mtb5 {
  margin: 0.5rem 0;
}

.tcm {
  color: var(--niuyin-text-color)
}

.mb5 {
  margin-bottom: 0.5rem;
}

.mb1rem {
  margin-bottom: 1rem;
}

.mlr5 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mlr8 {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.p5px {
  padding: 5px;
}

.p5-10 {
  padding: 5px 10px;
}

.p10px {
  padding: 10px;
}

.plr10px {
  padding-left: 10px;
  padding-right: 10px;
}

.ptb10px {
  padding-top: 10px;
  padding-bottom: 10px;
}

.plrb10 {
  padding: 0 10px 10px 10px;
}

.p1rem {
  padding: 1rem;
}

.w49 {
  width: 49%;
}

.w24 {
  width: 24%;
}

.w33 {
  width: 33.33333%;
}

.mtlrb5 {
  margin: 0.5rem;
}

.ml2 {
  margin-left: 0.2rem;
}

.ml1rem {
  margin-left: 1rem;
}

.mr1rem {
  margin-right: 1rem;
}

.ml2rem {
  margin-left: 2rem;
}

.mr2rem {
  margin-right: 2rem;
}

.aite {
  cursor: pointer;
}

.el-skeleton__image {
  border-radius: 1rem;
}

.backdrop-filter {
  backdrop-filter: blur(10px);
}

.one-line {
  /* 一行显示 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.two-line {
  /* 两行显示 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.oh {
  overflow: hidden;
}

.w50 {
  width: 50%;
}

.mw50 {
  max-width: 100%;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.wh100 {
  width: 100%;
  height: 100%;
}

.fs125 {
  /*20px*/
  font-size: 1.25rem;
}

.fs24px {
  /*20px*/
  font-size: 24px;
}

.wh20px {
  width: 20px;
  height: 20px;
}

.wh24px {
  width: 24px;
  height: 24px;
}

.wh32px {
  width: 32px;
  height: 32px;
}

.wh64px {
  width: 64px;
  height: 64px;
}

.wh80px {
  width: 80px;
  height: 80px;
}

.cp {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: start;
  flex-flow: row wrap;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-flow: column;
  /*align-items: center;*/
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-flow: column;
  flex: 1 1;
  flex-wrap: wrap;
  justify-content: center;
}

.dn {
  display: none;
}

.tac {
  text-align: center;
}

.el-main {
  padding: 0;
  border-radius: 1rem;
}

.el-upload {
  width: 100%;
}

.niuyin-header {
  .el-input__wrapper {
    border-radius: 1rem 0 0 1rem;
  }
}

.el-input__inner {
  height: 38px;
}

.keyword-hint {
  color: red;
}

.video-player {
  .el-carousel__container {
    height: 100%;
  }
}

/*el抽屉drawer*/
.el-drawer {
  --el-drawer-bg-color: #000000CC;
  backdrop-filter: blur(2px);
}

/*el卡片card*/
.el-card {
  //background-color: transparent;
  border: none;
}

.el-pagination button {
  background-color: transparent;
}

.el-pagination {
  margin: 0 0 2rem 0;
  float: right;
}

.el-tabs {
  background-color: transparent !important;
  border: none !important;
}

.el-tabs__item {
  background-color: transparent !important;
}

.el-tabs__item.is-active {
  font-weight: 900;
}

.el-loading-mask {
  background-color: transparent;
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
}

.el-dialog {
  margin: 3vh auto;
  border-radius: 1rem;
}

.el-dialog__header {
  margin: 0;
  color: black;
  display: flex;
  justify-content: space-between
}

.el-dialog__body {
  height: 90%;
  padding: 10px 20px 30px;
}

.custom-loading-svg {
  justify-content: center;
}

.router-is-focus .tab-item {
  backdrop-filter: blur(10px);
  background-color: #D3D3D37F;
  color: black !important;
  font-weight: 600;
}

.el-autocomplete {
  width: 100%;
}

/*分割线背景色*/
.el-divider__text {
  background-color: transparent;
}

.el-popper {
  border-radius: 10px;
}

.avatar-uploader .el-upload {
  height: 100%;
  width: 100%;
}

/*高德地图页面美化*/
.amap-sug-result {
  border-radius: 0.4rem;
  background-color: #F2F2F37F !important;
  backdrop-filter: blur(10px);
  border: none;
  box-shadow: 0px 1px 1px 0 grey;
}

.el-vue-search-box-container {
  background: #F2F2F37F !important;
  border-radius: 0.5rem !important;
  backdrop-filter: blur(10px);
  overflow: hidden;
  width: 250px !important;

  & input {
    background: none;
  }
}

.amap-ctrl-icon-layer, .amap-ctrl-list-layer {
  background-color: #F2F2F37F !important;
  border-radius: 0.5rem !important;
  backdrop-filter: blur(10px);
}

.amap-controls .amap-hawkeye {
  border-radius: 1rem 0 1rem 0 !important;
}

.amap-controls .amap-control {
  background-color: #F2F2F37F !important;
  border-radius: 0.5rem !important;
  backdrop-filter: blur(10px);
}

/*平板适配*/
@media (max-width: 992px) {

}

/*移动端适配*/
@media (max-width: 500px) {
  .video-card {
    width: 49.5%;
    height: 160px;
  }
}

/*移动端适配*/
@media (max-width: 500px) {
  .dn-phone {
    display: none !important;
  }
}

.background-custom {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.divide:after {
  border-left: 2px solid var(--niuyin-text-color);
  content: "";
  margin: 0 5px;
}

.divide-grey:after {
  border-left: 2px solid grey;
  content: "";
  margin: 0 10px;
}

.upload-bg {
  background-color: var(--niuyin-upload-bg)
}

.b-radius5 {
  border-radius: 0.5rem;
}

.b-radius1 {
  border-radius: 1rem;
}

.grid-3-1 {
  display: grid;
  gap: 16px;
  grid-template-columns: 3fr 1fr;
}

.grid-1-3 {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 3fr;
}

.icon1rem {
  width: 1rem;
  height: 1rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


.icon32 {
  width: 32px;
  height: 32px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon64 {
  width: 64px;
  height: 64px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.df {
  display: flex;
}

html,
div,
.el-main {

  // 滚动条整体部分
  &::-webkit-scrollbar {
    cursor: pointer;
    width: 6px;
    height: 1px;
  }

  // 滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。
  &::-webkit-scrollbar-button {
    display: none;
  }

  // 滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
  &::-webkit-scrollbar-thumb {
    background: rgba(56, 35, 188, 0.8);
    cursor: pointer;
    border-radius: 5px;
  }

  // 边角，即两个滚动条的交汇处
  &::-webkit-scrollbar-corner {
    display: none;
  }

  // 两个滚动条的交汇处上用于通过拖动调整元素大小的小控件
  &::-webkit-resizer {
    display: none;
  }
}

.link-gold {
  color: gold;
  cursor: pointer;
  font-weight: 500;
}
