.dashboard-container {

}

.user-dashboard {
  display: flex;
  margin: 0 auto 16px;
  position: relative;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  .avatar-area {
    flex: none;
    position: relative;
    width: 64px;

    .user-avatar {
      width: 64px;
      height: 64px;
      cursor: pointer;
    }
  }

  .user-info {
    align-content: center;
    align-items: center;
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    margin-left: 16px;

    .username {
      display: flex;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .follow-fans-like {
      display: flex;
      margin-top: 8px;
      width: 100%;
      cursor: pointer;


      .follow-right:after {
        border-left: 2px solid var(--niuyin-text-color);
        content: "";
        margin: 0 16px;
      }

    }

    .user-profile {
      align-items: center;
      display: flex;
      height: 20px;
      margin-top: 10px;
      width: 100%;
    }
  }

}
